.body {
  width: 100%; /* 2560 */
  font-family: PTsans, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  background-image: url(../images/background.jpg); /* Размер главного фона 2560х1716 */
}

/* Свойства применяемые к нескольким блокам */


/* Не изменяемые свойства начало */
.visually-hiden { /* Доступно прячет элемент в браузере для скринридеров. */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a, button {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.link_background, 
.button_background {
  background-color: black;
  border: none;
  cursor: pointer;
}

.link_background:hover, 
.button_background:hover {
  background-color: rgb(102, 61, 21);
}
/* Не изменяемые свойства конец */




.main-menu,
.main,
.footer-aside {
  margin: 0 auto;
  width: 58.5%; /* 940/2560 36.72% */
  position: relative;
}

.container {
  box-sizing: border-box;
  background: url(../images/separator.png) no-repeat 50% 50%,
              url(../images/background-white.jpg);
  color: black;
  display: flex;
  margin-top: 4.8rem;
}

.container:nth-of-type(2) {
  margin-top: 2.3rem;
  margin-bottom: 4.2rem;
}

.news, 
.photo-gallery, 
.contacts, 
.sign-up {
  width: 50%;
  margin-bottom: 2.9rem;
}

/* Конец свойств применяемых к нескольким блокам */

@media screen and (max-device-width: 320px) {
  
  .body {
    width: 320px; /* 2560 */
    font-family: PTsans, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    background: url(../images/background.jpg) no-repeat 70% 0; /* Размер главного фона 2560х1716 */
  }

  .header {
  /*  min-height: 4.5rem; /* 70/16 */
    width: 100%;
    background-color: black;
    display: flex;
  }

  .main-menu {
    height: inherit;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    position: relative;
  }

  
  .main-menu,
  .main,
  .footer-aside {
    width: 100%; /* 940/2560 36.72% 
    position: relative;*/
  }


  .main-menu__list {
    /*width: 50%;  31.75rem */
    list-style: none;  
    display: flex;
    flex-wrap: wrap;
  }

}










/* Начала блока скрытых областей */

/* Кнопка закрыть в обоих облостях */
.btn-close_mixing {
  position: absolute;
  top: 0.65rem;
  right: -2rem;
}

/* Начало блока personal-account */

.personal-account {
  padding: 51px 80px;
  color: black;  
  opacity: 0;
  background: url(../images/background-white.jpg);
  position: relative;
  position: absolute;
  top: 12.5%;
  left: 37%;
}

.personal-account__title {
  font-size: 1.87rem;
}

.personal-account__text {
  font-size: 0.88rem;
}

.personal-account__text_mixing {
  margin-top: 1.4rem;
}

.personal-account__text-from {
  font-size: 0.9rem;
  position: relative;
}

.personal-account__text-from_mixing {
  margin-top: 0.9rem;
}

.personal-account__text-from_mixing:nth-of-type(2) {
  margin-top: 0.6rem;
}

.personal-account__label {
  position: absolute;
  top: 0.78rem;
  left: 1rem;
}

.personal-account__input {
  border: 2px solid black;
  padding: 0.59rem 0;
  width: 17.5rem;
}

.personal-account__input[placeholder] {
  padding-left: 1rem;
  font: bold 1rem PTsans, sans-serif;
  color: black;
  text-transform: uppercase;
}

.personal-account__input[name="login"] {
  background: url(../images/user.png) no-repeat 95% 50%;
}

.personal-account__input[name="password"] {
  background: url(../images/lock.png) no-repeat 95% 50%;  
}

.personal-account__text-checkbox_mixing {
  margin-top: 0.8rem;
}

.personal-account__input-checkbox {
  display: none;
}

.personal-account__fack {
	display: inline-block;
	width: 15px;
	height: 15px;
	top: 3px;
	background-image: url(../images/background-white.jpg);
	border: 2px solid black;
	position: relative;
}

.personal-account__fack::before {
	content: "";
	position: absolute;
	top: 10%;
	left: 70%;
	transform: translate(-45%, 1%);
	display: block;
	width: 21px;
	height: 27px;
	background: url(../images/cross.png) no-repeat;
	opacity: 0;
	transition: .2s;
}

.personal-account__span {
  margin-left: 0.7rem;
  font-size: 0.86rem;
}

.personal-account__input-checkbox:checked + .personal-account__fack::before {
	opacity: 1;
}

.personal-account__link {
  color: black;
  font-size: 0.85rem;
  text-decoration: underline;
  /*border-bottom: 1px solid black;*/
}

.personal-account__link_mixing {
  margin-left: 4.8rem;
}

.personal-account__btn {
  padding: 0.73rem 44%;
  font: bold 0.9rem PTsans, sans-serif;
}

.personal-account__btn_mixing {
  margin-top: 1rem;
}
/* Конец блока personal-account */

/* Начало блока map */

.map {
  opacity: 0;
}

.map_mixing {
  position: absolute;
  top: 61%;
  left: 29%
}

.map__text {
  padding: 10px;
  background-color: white;
}
/* Конец блока map */

/* Конец блока скрытых областей */


/* Начало блока header */

.header {  
  height: 4.5rem; /* 70/16 */
  background-color: black;
  display: flex;
}

.main-menu {
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
}

.main-menu__link-img {
  width: 35%;
  position: absolute;
  top: 180%;
  left: 32%;  
}

.main-menu__list {
  /*width: 50%;  31.75rem */
  list-style: none;  
  display: flex;
}

.main-menu__list_mixing {
  margin-left: 2.2%;
}

.main-menu__link {
  display: block;
  padding: 1.7rem 1.2rem;
}

.main-menu__link_mixing {
  position: absolute;
  right: 14%
}

.main-menu__link:hover,
.main-menu__link:focus {
  background-color: rgb(36, 36, 36);
}

.main-menu__span {
  padding-bottom: inherit;
  border-bottom: 3px solid white;
}

.login-link {
  padding-left: 3rem;
  position: absolute;
  right: 3%;
}

.login-link::before {
  content: "";
  background: url(../images/login.svg) no-repeat 0 0;
  width: 16px;
  height: 18px; 
  position: absolute;
  top: 27px;
  left: 1rem;
  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before {
  opacity: 1;
}
/* Конец блока header */


/* Начало блока main */

/* Начало блока Преимущества */

.advantages {
  margin-top: 280px; /* 29.5% */
}

.advantages__list {
  list-style: none;
  display: flex;
  justify-content: space-between;  
}

.advantages__item {
  padding-top: 0;
  width: 29.46%; /* 267px height: 180px; */
  display: flex;
  flex-direction: column;
  Align-items: center;
}

.advantages__item_width {
  width: 30.85%;
}

.advantages__title {
  margin-top: 0.5rem;
  font: bold 1.9rem PTsans, sans-serif;
}

.advantages__img {
  margin-top: 0.4rem;
  width: 11%;
}

.advantages__text {
  margin-top: 1.6rem;
  text-align: center;
  font: bold 0.9rem PTsans, sans-serif;
  line-height: 1.7;
}
/* Конец блока Преимущества */

/* Начало блока Новости */

.news {
  font-size: 0.9rem;
}

.news_mixing-left {
  padding-left: 8.7%;
}

.news__title {
  font: bold 1.9rem PTsans, sans-serif;
}

.news__title_mixing-top {
  margin-top: 2.8rem;
}

.news__list {
  font: bold 0.9rem PTsans, sans-serif;
  list-style: none;
}

.news__list_mixing {
  margin-top: 1.4rem;
  margin-bottom: 2.5rem;
}

.news__item {
  line-height: 1.7;
}

.news__meta {
  font: bold 0.9rem PTsans, sans-serif;
  text-transform: lowercase;
}

.news__item_mixing-top {
  margin-top: 1.3rem;
}

.news__link {
  font: bold 0.9rem PTsans, sans-serif;
  padding: 0.9rem 2.1rem;
}

.news__link_mixing-bottom {
  margin-bottom: 2rem;
}
/* Конец блока Новости */

/* Начало блока Фотогалерея */

.photo-gallery_mixing-left {
  padding-left: 11%;
}

.photo-gallery__title {
  font: bold 1.9rem PTsans, sans-serif;
}

.photo-gallery__title_mixing-top {
  margin-top: 2.8rem;
}

.photo-gallery__box {
  width: 75%; /* 17.9rem */
  height: 44%; /* 10.3rem */
  background-color: rgb(229, 229, 229);
}

.photo-gallery__box_mixing {
  margin-top: 2rem;
  margin-left: 0.3rem;
}

.photo-gallery__img {
  width: 100%;
  height: 100%;
}

.photo-gallery__btn {
  font: bold 0.9rem PTsans, sans-serif;
  padding: 0.8rem 3.3rem;
  margin-top: 2.7rem;
  margin-left: -1%;
  margin-right: 5.5%;
  
}

.photo-gallery__btn_padding {
  padding-left: 3rem;
  padding-right: 3rem;
}
/* Конец блока Фотогалерея */

/* Начало блока Контактная информаниция */

.contacts_mixing-left {
  padding-left: 8.7%;
}

.contacts__title {
  font: bold 1.9rem PTsans, sans-serif;
}

.contacts__title_mixing-top {
  margin-top: 2.8rem;
}

.contacts__text {
  font: bold 0.88rem PTsans, sans-serif;
  line-height: 1.65;
}

.contacts__text_mixing-top {
  margin-top: 1.45rem;
}

.contacts__text_mixing-top:nth-of-type(2) {
  margin-bottom: 2.2rem;
}

.contacts__link {
  padding: 0.8rem 2rem;
  font: bold 0.85rem PTsans, sans-serif;
}

.contacts__link:nth-of-type(2) {
  padding: 0.8rem 1.7rem 0.8rem 1.5rem;
}

.contacts__link_mixing {
  margin-right: 1rem;
}
/* Конец блока Контактная информаниция */

/* Начало блока Записаться */

.sign-up {
  margin-bottom: 3rem;
}

.sign-up_mixing-left {
  padding-left: 10.5%;
}

.sign-up__title {
  font: bold 1.9rem PTsans, sans-serif;
}

.sign-up__title_mixing-top {
  margin-top: 2.8rem;
}

.sign-up__text {
  font: bold 0.88rem PTsans, sans-serif;
  line-height: 1.65;
}

.sign-up__text_mixing-top {
  margin-top: 1.45rem;
}

.sign-up__desc {
  display: inline-block;
  font: bold 0.88rem PTsans, sans-serif;
  width: 7.4rem;
  height: 2.7rem;
}

.sign-up__desc_mixing {
  margin-top: 0.9rem;
  margin-right: 2.2rem;
}

.sign-up__desc_mixing:nth-of-type(3), .sign-up__desc_mixing:nth-of-type(4) {
  margin-top: 1.5rem;
}

.sign-up__span_mixing {
  margin-left: 1rem;
}

.sign-up__input {
  width:inherit;
  height: 2.4rem;
  border: 2px solid black;
}

.sign-up__input:hover {
  border: 2px solid rgb(102, 61, 21);
}

.sign-up__input[placeholder] {
  padding-left: 0.9rem;
  font: bold 0.88rem PTsans, sans-serif;
}

.sign-up__input_mixing {
  margin-top: 0.6rem;
}

.sign-up__btn {
  padding: 0.8rem 31%; /* 7.4rem */
  font: bold 0.88rem PTsans, sans-serif;
}

.sign-up__btn_mixing {
  margin-top: 2rem;
}
/* Конец блока Записаться */

/* Начало блока footer */

.footer {
  height: 12rem;
  background: rgb(35, 35, 35) url(../images/footer-background.png);
}

.footer-aside {
  padding-top: 3.7rem;
  display: flex;
  font: bold 0.86rem PTsans, sans-serif;
}

.footer-aside__text {
  line-height: 1.8;
}

.footer-aside__text .footer-aside__link {
  text-decoration: underline;
}

.footer-aside__text_mixing_contacts {
  margin-left: 0.1rem;
}

.footer-aside__container {
  width: 9rem;
  height: 4.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-aside__container_mixing {
  margin-left: 12%;
}

.footer-aside__list {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer-aside__link-list {
  padding: 0.8rem 1.3rem;
}

.footer-aside__link-vk {
  background: url(../images/vk.png) no-repeat 50% 50%,
            black;
}

.footer-aside__link-vk:hover {
  background: url(../images/vk-black.png) no-repeat 50% 50%,
            white;
}

.footer-aside__link-f {
  background: url(../images/facebook.png) no-repeat 50% 50%,
            black;
}

.footer-aside__link-f:hover {
  background: url(../images/facebook-black.png) no-repeat 50% 50%,
            white;
}

.footer-aside__link-i {
  background: url(../images/instagram.png) no-repeat 50% 50%,
            black;
}

.footer-aside__link-i:hover {
  background: url(../images/instagram-black.png) no-repeat 50% 50%,
            white;
}

.footer-aside__brand-name {
  width: 9rem;  
  position: relative;
  display: flex;
  justify-content: center;
}

.link_background_black-white {
  background-color: black;
}

.link_background_black-white:hover {
  background-color: white;
  color: black;
}

.footer-aside__brand-name_mixing {
  margin-left: auto;
}

.footer-aside__link-brand-name {
  padding: 0.7rem 2rem;
}

.footer-aside__link_mixing {
  position: absolute;
  top: 2.4rem;
}
/* Конец блока footer */