@media screen and (min-width: 1024px) {

  .body-index {
    color: white;
    background: url(../../images/background.jpg);
  }

  .header {
    margin-bottom: 20rem;
  }

  .map {
    width: 70%;
  }

  .map_mixing {
    top: 150%;
    left: 15%
  }

  .main-menu__conner {
    margin-bottom: 0;
  }

  .main-index {
    margin-top: 30%;
  }

  .advantages__list {
    flex-direction: row;
  }

  .advantages__text {
    width: 90%;
  }

  .dividing-line {
    position: static;
    border: none;
    overflow: visible;
    width: auto;
    height: auto;
    clip: auto;
    padding: initial;
  }

  .news_text,
  .contacts__container {
    width: 100%;
  }

  .news__link {
    margin-bottom: 2rem;
  }

  .photo-gallery__container-photo-btn {
    margin: 0;
  } 

  .sign-up__form {
    width: 22.55rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sign-up__desc_margin:nth-child(odd) {
    margin-right: 2rem;
  }

  .sign-up__input {
    width: 9rem;
  }

  .sign-up__btn {
    width: 100%;
  }
}