@media screen and (min-width: 768px) {

  .advantages__text {
    width: 50%;
  }

  .news_text,
  .photo-gallery__container-photo-btn,
  .contacts__container {
    width: 70%;
  }

  .photo-gallery__container-photo-btn {
    margin: 0 auto;
  }
}