@media screen and (min-device-width: 601px) and (max-device-width: 768px) {
  
  .body {
    background: black;
  }

  .main-menu,
  .main,
  .footer-aside {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  /* Начала блока header */

  .header {
    width: 100%;
    background-color: black;
    display: flex;
    margin-bottom: 100px;
  }

  .main-menu {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .link-img {
    width: 27%;
  }

  .main-menu__link-img {
    margin: 0 auto;
  }

  .main-menu__img {
    width: 100%;
  }

  .main-menu__list {
    list-style: none;
    order: -2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 2rem;
  }

  .main-menu__item {
    align-content: space-around;
    margin-top: 1.5rem;
    margin-right: 2rem;
  }

  .main-menu__wrapper {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-menu__conner {
    order: -1;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .login-link{
    font-size: 2rem;
    padding: 1rem 1rem;
    display: flex;
  }

  .login-link__img {
    float: left;
    width: 1.5rem;
    margin-right: 0.4rem;
  }
  /* Конец блока header */

  .main {
    color: black;
    background: url(../../images/background-white.jpg);
  }
  
  /* Начало блока menu */
  
  .menu {
    display: inline-block;
  }
  
  .menu_mixing {
    margin: 4.5% 0 5% 6%;
  }
  
  .menu__text {
    font-size: 2rem;
    margin-bottom: 10%;
  }
 
  .menu__item {
    display: inline;
    list-style-type: none;
    font-size: 1.2rem;
    color: rgb(192, 189, 187);
    padding-left: 2.5rem;
    background: url(../../images/rhombus-black.png) no-repeat 0 50%;
    background-size: 1.2rem;
  }
  
  .menu__item:first-child {
    color: black;
    padding-left: 0;
    margin-right: 0.7rem;
    background: none;
  }
  
  .menu__link {
    color: black;
  }
  /* Конец блока menu */

  .title {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }
  
  .title_mixing {
    margin-bottom: 5rem;
  }

  /* Начало блока assortment */

  .assortment__title_mixing,
  .assortment__list_mixing,
  .assortment__text_mixing {
    margin-left: 5%;
  }

  .assortment__title {
    font-size: 1.9rem;
  }

  .assortment__list {
    list-style: none;
    margin-bottom: 5rem;
  }

  .assortment__item {
    font-size: 1.5rem;
    padding-left: 2.5rem;
    background: url(../../images/rhombus-black.png) no-repeat 0 50%;
    background-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .assortment__text {
    font-size: 1.5rem;
    line-height: 1.75;
  }

  /* Конец блока assortment */

  /* Начало блока prices */

  .prices__title,
  .prices__table,
  .prices__text {
    margin-left: 5%;
  }

  .prices__title {
    font-size: 1.9rem;
  }

  .prices__table {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1.5rem;
    margin: 0 auto;
  }

  .prices__table-td {
    border: 2px solid black;
    width: 20rem;
    height: 1.75rem;
  }

  .prices__table-td_text {
    padding: 1rem 1.2rem;
  }

  .prices__text {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.7;
    margin-bottom: 4rem;
  }
  /* Конец блока prices */

  /* Конец блока main */

  /* Начало блока footer */
    
  .footer {
    display: inline-block;
    width: 100%;
    background: rgb(35, 35, 35) url(../../images/footer-background.png);
  } 

  .footer-aside {
    font-size: 1.5rem;
  }

  .footer__footer-aside {
    margin-top: 2rem;
  }

  .footer-aside__text {
    text-align: center;
    line-height: 1.8;
  }

  .footer-aside__text_margin {
    margin-bottom: 2rem;
  }

  .footer-aside__link {
    text-decoration: underline;
  }

  .footer-aside__container {
    width: 75%;
    margin: 0 auto;
  }

  .footer-aside__container,
  .footer-aside__container-network {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .footer-aside__container-network {
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-aside__list {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .footer-aside__link-list {
    padding: 1rem 2rem;
  }

  .footer-aside__link-vk {
    background: url(../../images/vk.png) no-repeat 50% 50%,
              black;
    background-size: 2rem;
  }

  .footer-aside__link-f {
    background: url(../../images/facebook.png) no-repeat 50% 50%,
              black;
    background-size: 1rem;
  }

  .footer-aside__link-i {
    background: url(../../images/instagram.png) no-repeat 50% 50%,
              black;
    background-size: 2rem;
  }

  .footer-aside__brand-name {
    display: inline-block;
    text-align: center;
  }

  .footer-aside__link-brand-name {
    font-size: 1.3rem;
    padding: 1.5rem 2.5rem;
  }

  .footer-aside__link-brand-name_margin {
    display: inline-block;
    margin-top: 2rem;
  }
  /* Конец блока footer */
  
}