.body {
  width: 100%; /* 2560 */
  font-family: PTsans, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  background-image: url(../../images/background.jpg); /* Размер главного фона 2560х1716 */
}

/* Свойства применяемые к нескольким блокам */

.main-menu,
.main,
.footer-aside {
  margin: 0 auto;
  width: 74.4%;
  position: relative;
}

.container {
  display: flex;
  margin-top: 3.7rem;
  box-sizing: border-box;
}

.assortment,
.prices {
  width: 50%;
  margin-bottom: 4.7rem;
}

/* Конец свойств применяемых к нескольким блокам */

/* Начало блока header */

.header {  
  height: 4.5rem; /* 70/16 */
  background-color: black;
  display: flex;
}

.main-menu {
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
}

.main-menu__link-logo {
  height: 1.5rem;
}

.main-menu__link-logo_mixing {
  margin-left: 12.5%;
}

.main-menu__list {
  width: 44%; /* 31.75rem */
  list-style: none;  
  display: flex;
}

.main-menu__list_mixing {
  margin-left: 2.2%;
}

.main-menu__link {
  display: block;
  padding: 1.55rem 1.2rem;
}

.main-menu__link_mixing {
  position: absolute;
  right: 14%
}

.main-menu__link:hover,
.main-menu__link:focus {
  background-color: rgb(36, 36, 36);
}

.main-menu__span {
  padding-bottom: inherit;
  border-bottom: 3px solid white;
}

.login-link {
  padding-left: 3rem;
}

.login-link::before {
  content: "";
  background: url(../../images/login.svg) no-repeat 0 0;
  width: 16px;
  height: 18px; 
  position: absolute;
  top: 27px;
  left: 1rem;
  opacity: 0.3;

}

.login-link:hover::before,
.login-link:focus::before {
  opacity: 1;
}
/* Конец блока header */


/* Начало блока main */

.main {
  color: black;
  background: url(../../images/background-white.jpg);
}

/* Начало блока menu */

.menu {
  display: inline-block;
}

.menu_mixing {
  margin: 4.5% 0 0 11%;
}

.menu__text {
  font-size: 1.9rem;
}

.menu__list_mixing {
  margin-top: 13.7%;
}

.menu__item {
  display: inline;
  list-style-type: none;
  font-size: 0.85rem;
  color: rgb(192, 189, 187);
  padding-left: 1.75rem;
  background: url(../../images/rhombus-black.png) no-repeat 0 50%;
}

.menu__item:first-child {
  color: black;
  padding-left: 0;
  margin-right: 0.7rem;
  background: none;
}

.menu__link {
  color: black;
}
/* Конец блока menu */

.title {
  font-size: 3.04rem;
  background: url(../../images/line.png) no-repeat 87.5% 54%,
              url(../../images/line.png) no-repeat 12.5% 54%;
}

.title_mixing {
  margin-top: 3.4%;
  padding-left: 26.2%;
  /*margin: 3.4% 0 0 26.2%;*/
}

/* Начало блока assortment */

.assortment__title_mixing,
.assortment__list_mixing,
.assortment__text_mixing {
  margin-left: 22%;
}

.assortment__title {
  font-size: 1.52rem;
}

.assortment__list {
  list-style: none;  
}

.assortment__list_mixing {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.assortment__item {
  font-size: 0.9rem;
  padding-left: 1.2rem;
  background: url(../../images/rhombus-black.png) no-repeat 0 50%;
}

.assortment__item_mixing {
  margin-top: 1.3rem;
}

.assortment__item_mixing:first-child {
  margin-top: 0;
}

.assortment__title_mixing:nth-of-type(2) {
  margin-top: 3.8rem;
}

.assortment__text {
  font-size: 0.87rem;
  line-height: 1.75;
}

.assortment__text_mixing {
  margin-top: 1.8rem;
}
/* Конец блока assortment */

/* Начало блока prices */

.prices__title,
.prices__table,
.prices__text {
  margin-left: 1.5%;
}

.prices__title {
  font-size: 1.52rem;
}

.prices__table {
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 0.85rem;
}

.prices__table_mixing {
  margin-top: 2.2rem;  
}

.prices__table-td {
  border: 2px solid black;
  width: 14.2rem;
  height: 1.75rem;
}

.prices__table-td_text {
  padding: 0.7rem 0 0 1.2rem;
  width: 13.1rem;
}

.prices__text {
  font-size: 0.9rem;
}

.prices__text_mixing {
  margin-top: 7.4rem;
  line-height: 1.7;
}
/* Конец блока prices */

/* Конец блока main */

/* Начало блока footer */


.footer {
  height: 12rem;
  background: rgb(35, 35, 35) url(../../images/footer-background.png);
}

.footer-aside {
  padding-top: 3.7rem;
  display: flex;
  font: bold 0.86rem PTsans, sans-serif;
  background: url(../../images/black-line.png) repeat-x;
}

.footer-aside__text {
  line-height: 1.8;
}

.footer-aside__text .footer-aside__link {
  text-decoration: underline;
}

.footer-aside__text_mixing_contacts {
  margin-left: 11%;
}

.footer-aside__container {
  width: 9rem;
  height: 4.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-aside__container_mixing {
  margin-left: 9.2%;
}

.footer-aside__list {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.footer-aside__link-list {
  padding: 0.8rem 1.3rem;
}

.footer-aside__link-vk {
  background: url(../../images/vk.png) no-repeat 50% 50%,
            black;
}

.footer-aside__link-vk:hover {
  background: url(../../images/vk-black.png) no-repeat 50% 50%,
            white;
}

.footer-aside__link-f {
  background: url(../../images/facebook.png) no-repeat 50% 50%,
            black;
}

.footer-aside__link-f:hover {
  background: url(../../images/facebook-black.png) no-repeat 50% 50%,
            white;
}

.footer-aside__link-i {
  background: url(../../images/instagram.png) no-repeat 50% 50%,
            black;
}

.footer-aside__link-i:hover {
  background: url(../../images/instagram-black.png) no-repeat 50% 50%,
            white;
}

.footer-aside__brand-name {
  width: 9rem;  
  position: relative;
  display: flex;
  justify-content: center;
}

.footer-aside__brand-name_mixing {
  margin-left: auto;
  margin-right: 10.7%;
}

.footer-aside__link-brand-name {
  padding: 0.7rem 2rem;
}

.link_background_black-white {
  background-color: black;
}

.link_background_black-white:hover {
  background-color: white;
  color: black;
}

.footer-aside__link_mixing {
  position: absolute;
  top: 2.4rem;
}
/* Конец блока footer */