
.bread-crumbs-menu,
.main__title {
  margin-bottom: 2rem;
}

.main__title {
  font-size: 3rem;
  text-align: center;
}

.prices__table {
  border: 2px solid black;
  border-collapse: collapse;
  margin: 0 auto;
}

.prices__table-td {
  border: 2px solid black;
  width: 20rem;
  height: 1.75rem;
}

.prices__table-td_text {
  padding: 0.5rem;
}