@media screen and (min-width: 1024px) {

  /* .best-products,
  .prices {
    margin: 0;
  } */

  .main__title {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }

  .main__title::before,
  .main__title::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    width: 50px;
    height: 2px;
    background: black;
  }

  .main__title::before {
    margin-right: 25px;
  }

  .main__title::after {
    margin-left: 25px;
  }
}