@media screen and (min-width: 1024px) {

  /* .bread-crumbs-menu,
  .container {
    width: 100%;
  } */

  .sidebar__title {
    margin-top: 0;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .products__assortment {
    width: 14rem;
    margin-left: 2rem;
  }

  .sidebar__label:hover,
  .sidebar__label:focus,
  .sidebar__label-radio:hover,
  .sidebar__label-radio:focus {
    color: rgb(102, 61, 21);
    cursor: pointer;
  }

  .products__link-block {
    text-align: left;
    margin-left: 2rem;
  }
}