@media screen and (min-device-width: 601px) and (max-device-width: 768px) {
  
  .body {
    background: black;
  }

  .main-menu,
  .main,
  .footer-aside {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  /* Начала блока header */

  .header {
    width: 100%;
    background-color: black;
    display: flex;
    margin-bottom: 100px;
  }

  .main-menu {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .link-img {
    width: 27%;
  }

  .main-menu__link-img {
    margin: 0 auto;
  }

  .main-menu__img {
    width: 100%;
  }

  .main-menu__list {
    list-style: none;
    order: -2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 2rem;
  }

  .main-menu__item {
    align-content: space-around;
    margin-top: 1.5rem;
    margin-right: 2rem;
  }

  .main-menu__wrapper {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-menu__conner {
    order: -1;
    margin: 0 auto;
    margin-bottom: 5rem;
  }

  .login-link{
    font-size: 2rem;
    padding: 1rem 1rem;
    display: flex;
  }

  .login-link__img {
    float: left;
    width: 1.5rem;
    margin-right: 0.4rem;
  }
  /* Конец блока header */

  /* Начало блока main */

  .main {
    color: black;
    background: url(../../images/background-white.jpg);
  }

  /* Начало блока menu */

  .menu {
    display: inline-block;
  }

  .menu_mixing {
    margin: 4.5% 0 5% 6%;
  }

  .menu__text {
    font-size: 2rem;
  }

  .menu__item {
    display: inline;
    list-style-type: none;
    font-size: 1.3rem;
    line-height: 2;
    color: rgb(192, 189, 187);
    padding-left: 2.5rem;
    margin-right: 0.5rem;
    background: url(../../images/rhombus-black.png) no-repeat 0 50%;
    background-size: 1.2rem;
  }
  
  .menu__item:first-child {
    color: black;
    padding-left: 0;
    margin-right: 0.7rem;
    background: none;
  }

  .menu__link {
    color: black;
  }
  /* Конец блока menu */

  /* Начало блока photo */

  .photo {
    width: 53%;
  }

  .photo_mixing {
    margin-bottom: 2.9rem;
  }

  .photo__link {
    display: inline-table;
    
  }

  .photo__large-photo_mixing,
  .photo__small-photo-block_mixing {
    margin-left: 20%;
  }

  .photo__large-photo {
    width: 44rem;
    height: 35rem;
    box-shadow: 0 0 15px 7px rgb(227, 224, 221);
    background: url(../../images/item-large-photo.png) no-repeat 1.5rem,
                url(../../images/background-assortment.png);
    background-size: 90%;
    margin-bottom: 8rem;
  }

  .photo__small-photo-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44rem;
    height: 10rem;
  }

  .photo__small-photo {
    width: 14rem;
    height: 15rem;
    box-shadow: 0 0 15px 7px rgb(227, 224, 221);
    background: url(../../images/background-assortment.png);
    margin-bottom: 6rem;
  }

  .photo__small-photo1 {
    background: url(../../images/item-small-photo1.png) no-repeat 0.3rem 9rem;
    background-size: 100%;
  }

  .photo__small-photo2 {
    background: url(../../images/item-small-photo2.png) no-repeat 0.3rem 7rem;
    background-size: 100%;
  }

  .photo__small-photo3 {
    background: url(../../images/item-small-photo3.png) no-repeat 0.3rem 2.2rem;
    background-size: 100%;
  }
  /* Конец блока photo */

  /* Начало блока description */

  .description {
    width: 90%;
  }

  .description__container_mixing,
  .description__text_mixing,
  .description___buy_mixing,
  .description__title_mixing,
  .description__list_mixing {
    margin-left: 8%;
  }

  .description__container {
    display: flex;
    justify-content: space-between;
    width: 90%
  }

  .description__container_mixing {
    margin-top: 2.5rem;
  }

  .description__span {
    font-size: 1.5rem;
  }

  .description__span:nth-of-type(2) {
    color: rgb(192, 189, 187);
  }

  .description__text {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  .description__text_mixing {
    margin-top: 2.1rem;
  }

  .description__buy {
    font-size: 1.5rem;
    font-family: PTSans, serif;
    font-weight: bold;
    width: 13rem;
    padding: 0.8rem 0 0.8rem 2.6rem;  
    background-color: rgb(229, 229, 229);
    position: relative;
  }

  .description__buy_mixing {
    margin-top: 2.3rem;
    margin-left: 5rem;
  }

  .description__link {
    background-color: black;
    font-size: 1.5rem;
    padding: 0.8rem 1.1rem;
  }

  .description__link_mixing {
    position: absolute;
    top: -0.1rem;
    right: 0;
  }

  .description__title {
    font-size: 2rem;
  }

  .description__title_mixing {
    margin-top: 3.9rem;
  }

  .description__list {
    list-style: none;
    font-size: 1.5rem;
  }

  .description__list_mixing {
    margin-top: 1.8rem;
    padding-bottom: 3rem;
  }

  .description__item {
    line-height: 1.7;
    padding-left: 2.5rem;
    background: url(../../images/rhombus-black.png) no-repeat 0 50%;
    background-size: 1.3rem;
  }
  /* Конец блока description */

  /* Конец блока main */

  /* Начало блока footer */
    
  .footer {
    display: inline-block;
    width: 100%;
    background: rgb(35, 35, 35) url(../../images/footer-background.png);
  } 

  .footer-aside {
    font-size: 1.5rem;
  }

  .footer__footer-aside {
    margin-top: 2rem;
  }

  .footer-aside__text {
    text-align: center;
    line-height: 1.8;
  }

  .footer-aside__text_margin {
    margin-bottom: 2rem;
  }

  .footer-aside__container {
    width: 75%;
    margin: 0 auto;
  }

  .footer-aside__container,
  .footer-aside__container-network {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .footer-aside__link {
    text-decoration: underline;
  }

  .footer-aside__container-network {
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-aside__list {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .footer-aside__link-list {
    padding: 1rem 2rem;
  }

  .footer-aside__link-vk {
    background: url(../../images/vk.png) no-repeat 50% 50%,
              black;
    background-size: 2rem;
  }

  .footer-aside__link-f {
    background: url(../../images/facebook.png) no-repeat 50% 50%,
              black;
    background-size: 1rem;
  }

  .footer-aside__link-i {
    background: url(../../images/instagram.png) no-repeat 50% 50%,
              black;
    background-size: 2rem;
  }

  .footer-aside__brand-name {
    display: inline-block;
    text-align: center;
  }

  .footer-aside__link-brand-name {
    font-size: 1.3rem;
    padding: 1.5rem 2.5rem;
  }

  .footer-aside__link-brand-name_margin {
    display: inline-block;
    margin-top: 2rem;
  }
  /* Конец блока footer */
  
}